<!-- Fixed navbar -->
<div class="pos-f-t">
    <nav class="navbar navbar-light navbar-static-top">
        <div class="container">
            <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
                Menu
            </button>
            <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
                <a class="navbar-brand" href="/">MVC-TEST-APP</a>
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item">
                        <a class="nav-link" href="/login">로그인</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">회원가입</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile">프로필</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/comments">코멘트</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<!-- Fixed navbar -->
